@use "../../assets/sass/variables" as *;

.counterContainer {
  margin: auto;
  width: 8vw;
  height: 15vh;
  border: 2px solid black;
  text-align: center;

  &__heading {
    margin-top: 25px;
  }
}


