@use "../../assets/sass/variables" as *;

.counterContainer {
  margin: auto;
  width: 30vw;
  height: 18vh;
  border: 2px solid black;
  text-align: center;

  &__heading {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .counterContainer {
    width: 20vw;
  }
}

@media screen and (min-width: 1440px) {
  .counterContainer {
    margin-top: 30px;
    width: 10vw;
    height: 15vh;
  }
}
