@use "../../assets/sass/variables" as *;

.counterContainer {
  margin: auto;
  width: 8vw;
  height: 15vh;
  border: 2px solid black;
  text-align: center;

  &__heading {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .counterContainer {
      width: 20vw;
  }
}

@media screen and (max-width: 768px) {
  .counterContainer{
    width: 20vw;
  }
}

@media screen and (max-width: 425px) {
  .counterContainer {
      width: 40vw;
  }
}

