@use "./assets/sass/_variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$primaryFont: Lobster, comic, serif;

.app {
  height: 100vh;
  width: 100vw;
  border: 4px solid black;
  font-family: $primaryFont;
  background: radial-gradient(circle, rgba(138, 63, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

@media screen and (max-width: 1440px) {
  .app {
    height: 100%;
    width: 100%;
  }
}