@use "../../assets/sass/variables" as *;

.formButton {
    margin: auto;
    width: 10vw;
    text-align: center;
}
.formButton__button {
    padding: 10px;
    border-radius: 10px;
    background: #FFABAB;
}